{% extends 'base.html' %} 
{% block title %}Revision App | Grade Calculator{% endblock %} 
{% block content %}
    <header>
        <div class="gc-header">
            <h1>Grade Calculator</h1>
            <h3>Enter your marks for each subject to calculate your grades.</h3>
        </div>
    </header>

    <main id="gc-main">
        <div id="subjects-container">
            <div class="subject-entry">
                <label>Subject Name: <input type="text" class="subject-name"></label>
                <label>Marks Obtained: <input type="number" id="marks-obtained"></label>
                <label>Total Marks: <input type="number" id="total-marks"></label>
            </div>
        </div>
        <div class="gc-btn-container">
            <button id="add-subject">+ Add More Subjects</button>
            <button id="calculate-grade">Calculate Overall Grade</button>
        </div>
        


        <div id="result-section">
            <h2>Your Overall Grade: <span id="final-grade">--</span>%</h2>
        </div>
        <div class="reset-calculator">
            <button id="reset-calculator-btn">Reset Calculator</button>
        </div>
    </main>

    <footer>
        
    </footer>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/js/grade_calculator.js') }}"></script>
{% endblock  %}